@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #FB796E;
    --secondary-color: #251656;
    --secondary-color-light: #2D0B99;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth !important;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 1rem;
}
.header .nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    font-size: 1.3rem;
}
.header .nav_logo{
    width: 4.5rem;
}
.header .nav_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondary-color)
}
.header .nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .nav_link{
    color: grey;
    transition: 0.3s;
}
.header .nav_link:hover{
    color: black;
}

.home_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text-main{
    font-size: 3rem;
}
.home_section-text{
    max-width: 30%;
}
.home_section-image{
    width: 700px;
}
.home-text-secondary{
    margin-bottom: 2rem;
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.home_section-button{
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    background-color: var(--main-color);
    transition: all 0.2s ease-in-out;
}
.home_section-button:hover{
    background-color: #ff6456;
}

.patient{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.patient_section-title{
    color: white;
    margin-top: 3rem;
    font-size: 3.5rem;
}